/node_modules
/.wireit
/lib
/test
/logs

/stampino.d.ts
/stampino.d.ts.map
/stampino.js
/stampino.js.map

/demo/demo.d.ts
/demo/demo.d.ts.map
/demo/demo.js
/demo/demo.js.map

/benchmarks/*.d.ts
/benchmarks/*.d.ts.map
/benchmarks/*.js
/benchmarks/*.js.map
